@import "module";

/*
*********************************************************************************
    basic.scss 작성
    작성일 : 2017.04.07
    작성자 : 김영훈
*********************************************************************************
*/
/**********************************************************************************
    반응형 공통 스타일
**********************************************************************************/
.mobile-version{
    display:none;
}
/**********************************************************************************
    가이드 스타일
**********************************************************************************/
$guide : ".guide";
#{$guide}{
    &_wrap{
        width:1200px;
        margin:0 auto;
        #{$guide}_title{
            padding-bottom:20px;
            margin-bottom:30px;
            border-bottom:2px solid #ececec;
            font-size:20px;
            line-height:22px;
            text-align:center;
            color:#666;
        }
        #{$guide}_title02{
            padding-bottom:8px;
            margin-bottom:12px;
            border-bottom:1px solid #ececec;
            font-size:15px;
            line-height:17px;
        }
        #{$guide}_table{
            width:100%;
            border-top:1px solid #ececec;
            border-bottom:1px solid #ececec;
            th, td{
                padding:10px;
            }
        }
        #{$guide}_info{
            margin-bottom:20px;
            li{
                font-size:15px;
                line-height:17px;
            }
            &.table{
                overflow:hidden;
                li{
                    float:left;
                    margin-right:10px;
                }
            }
        }
        #{$guide}_textarea{
            box-sizing:border-box;
            width:100%;
            padding:10px;
            margin-bottom:10px;
            font-size:15px;
            line-height:17px;
            color:#333;
            border:0;
            background-color:#ececec;
            &.table{
                height:300px;
            }
        }
        #{$guide}_font{
            p{
                margin-bottom:10px;
            }
        }
    }
}
/**********************************************************************************
    공통 버튼 가이드
**********************************************************************************/
.btn-color-type01.disabled{ background-color:#959595; color:#e1e1e1; }
.btn-color-type02.disabled{ background-color:#a5bcd3; color:#e1e1e1; }
.btn-color-type03.disabled{ background-color:#dcafb6; color:#e1e1e1; }
.btn-color-type04.disabled{ background-color:#a7baa0; color:#e1e1e1; }
/* 버튼 색상 */
$btnColor01: #00afff;
$btnColor02: #fff;
$btnColor03: #E70B2F;
$btnColor04: #2FC600;
/* 버튼 사이즈 */
@mixin btnXS{
    height:11px;
    padding:11px 34px 15px;
    font-size:14px;
    line-height:16px;
}
@mixin btnS{
    height:15px;
    padding:7px 15px 11px;
    font-size:14px;
    line-height:16px;
}
@mixin btnM{
    height:20px;
    padding:7px 64px 4px;
    font-size:14px;
    line-height:16px;
}
@mixin btnL{
    height:22px;
    padding:10px 30px 11px;
    font-size:18px;
    line-height:20px;
}
@mixin btnXL{
    height:25px;
    padding:13px 33px 6px;
    font-size:16px;
    line-height:18px;
}
/* 버튼 컴파일 */
.btn{
    display:inline-block;
    text-align:center;
    color:#fff;
    @include crossBrowsing("transform",skew(-12deg));
    @include crossBrowsing("transition", all .5s ease);
    &-xs{
        @include btnXS;
        &.btn-line{
            height:13px;
        }
    }
    &-s{
        @include btnS;
        &.btn-line{
            height:14px;
            padding:6px 15px 11px;
        }
    }
    &-m{
        @include btnM;
        &.btn-line{
            height:20px;
            padding:7px 64px 4px;
        }
    }
    &-l{
        @include btnL;
        &.btn-line{
            height:23px;
            padding:8px 30px 11px;
        }

    }
    &-xl{
        @include btnXL;
        &.btn-line{
            min-width:144px;
            height:21px;
            padding:10px 43px 9px;
        }
    }
    &-color-type01{
        background-color: $btnColor01;
        &.disabled{

        }
        &.btn-line{
            border:2px solid $btnColor01;
            color:$btnColor01;
            background:none;
            &:hover{
                background-color:$btnColor01;
                color:#fff;
            }
        }
        &:hover{
            background-color:#2ea7ee;
            color:#fff;
        }
    }
    &-color-type02{
        color: $mainColor;
        background-color: $btnColor02;
        @include fontStyle(noto-medium, 100, normal);
        &.btn-line{
            border:2px solid $btnColor02;
            color:$btnColor02;
            background:none;
        }

    }
    &-color-type03{
        background-color: $btnColor03;
        @include fontStyle(noto-regular, 600, normal);
        &.btn-line{
            border:2px solid $btnColor03;
            color:$btnColor03;
            background:none;
        }
    }
    &-color-type04{
        background-color: $btnColor04;
        @include fontStyle(noto-regular, 600, normal);
        &.btn-line{
            border:2px solid $btnColor04;
            color:$btnColor04;
            background:none;
        }
    }
}
.btn_wrap{
    &.center{
        text-align:center;
    }
    &.right{
        text-align:right;
    }
}
.icon{
    display:inline-block;
    padding-left:22px;
    font-size:14px;
    line-height:16px;
    @include fontStyle("noto-regular", 100, italic);
    background-position:left center;
    background-repeat:no-repeat;
    &.favorite{
        background-image:url("../images/icon/recommend_icon01.png");
    }
    &.chatting{
        background-image:url("../images/icon/chatting_icon01.png");
    }
}
/**********************************************************************************
    공통 제목 가이드
**********************************************************************************/

.tit01 {
    @include fontStyle(noto-demilight, 100, normal);
    font-size:46px;
    line-height:48px;
    margin-bottom:60px;
    text-transform:uppercase;
}
/**********************************************************************************
    공통 페이징 가이드
**********************************************************************************/
.paging {
  text-align:center;
    div {
      display:inline-block;
    >a {
      display:inline-block;
      float:left;
      margin-right:5px;
      img {
          width:100%;
          height:auto;
      }
      &.next {
          margin-right:0;
      }
    }
    ul {
      float:left;
      &:after{
        @include afterClear;
      }
      li {
        float:left;
        margin-right:5px;
        &.first {
          margin-left:12px;
        }
        &.last {
          margin-right:17px;
        }
        a{
          display:inline-block;
          float:left;
          width:31px;
          border:1px solid $borderColor;
          background-color:#fff;
          padding:8px 0 7px;
          &.on {
              color: $mainColor;
          }
          &:hover {
              color: $mainColor;
          }
        }
        strong{
            display:inline-block;
            float:left;
            width:31px;
            border:1px solid $borderColor;
            background-color:#fff;
            padding:8px 0 7px;
            color: $mainColor;
        }
      }
    }
  }
}

/**********************************************************************************
    공통 쉐도우 가이드
**********************************************************************************/
.box_shadow {
  box-shadow:1px 1px 1px 1px #f0f0f0;
}

/**********************************************************************************
    공통 탭 가이드
**********************************************************************************/
.tab-list{
    overflow:hidden;
    ul{
        width:110%;
        margin-bottom:30px;
        text-align:center;
        @include removeBetween;
        @include crossBrowsing("transform", translateX(-5%));
        li{
            display:inline-block;
            @include crossBrowsing("transform", skew(-12deg));
            background-color:#777;
            vertical-align:top;
            &:first-child{
                a{
                    @include crossBrowsing("transform",translateX(27px));
                }
            }
            &:last-child{
                a{
                    @include crossBrowsing("transform",translateX(-22px));
                }
            }
            a{
                display:block;
                width:100%;
                padding:15px 0;
                color:#fff;
                span{
                    display:inline-block;
                    margin-left:8px;
                    vertical-align:middle;
                    font-size:18px;
                    line-height:20px;
                }
                img {
                    display:inline-block;
                    vertical-align:middle;
                    @include crossBrowsing("transform", skew(12deg));
                }
                &:hover{
                    img {
                        @include crossBrowsing("transform",translateY(0px) skew(12deg) );
                        animation:tabAnimation 2s ease-in-out infinite;
                    }
                }

            }
            &.on{
                background-color: $basicColor;
            }
        }
    }
    &.is-list4{
        ul{
            li{
                width:25%;
            }
        }

    }
}

@media all and (max-width:800px){
    .tit01 {
        margin-bottom:30px;
        font-size:35px;
        line-height:38px;
    }
}

@media all and (max-width:640px){
    .tit01 {
        margin-bottom:20px;
        font-size:25px;
        line-height:28px;
    }

    /**********************************************************************************
        공통 페이징 가이드
    **********************************************************************************/

    .paging {
      text-align:center;
        div {
          display:inline-block;
        >a {
          width:25px;
          height:25px;
          &.next {
              margin-right:0;
          }
        }
        ul {
          float:left;
          &:after{
            @include afterClear;
          }
          li {
            float:left;
            margin-right:3px;
            width:25px;
            height:25px;
            &.first {
              margin-left:5px;
            }
            &.last {
              margin-right:10px;
            }
            a,strong {
              width:23px;
              padding:4px 0 3px;
            }
          }
        }
      }
    }
}
/**********************************************************************************
    공통 테이블 가이드
**********************************************************************************/
.table-contents__title{
    margin-bottom:20px;
    text-align:center;
    background:url("../images/bar/table_tit_bg.png") 0 center repeat-x;
    span{
        display:inline-block;
        padding:0 35px;
        background-color:#f6f6f6;
        font-size:24px;
        line-height:26px;
        @include fontStyle("noto-bold", 600, italic);
    }
}

.table-contents__table-wrap{
    padding-bottom:30px;
    background-color:#fff;
    .table01{
        width:100%;
        margin-bottom:20px;
        table-layout:fixed;
        text-align:center;
        thead{
            th{
                padding:20px 0;
                border-right:1px solid #fff;
                color:#000;
                background-color:#e5e5e5;
                @include basicFontSize;
                @include fontStyle("noto-regular", 100, italic);
                &:last-child{
                    border-right:0;
                }
            }
        }
        tbody{
            td{
                padding:20px 0;
                border-bottom:1px solid #e5e5e5;
                @include basicFontSize;
                @include fontStyle("noto-regular", 100, italic);
                img{
                    vertical-align:middle;
                }
            }
        }
    }
    .table02{
        width:100%;
        border-top:3px solid $basicColor;
        font-size:17px;
        line-height:19px;
        thead th{
            padding:18px 0 18px;
            background-color:#fff;
            border-bottom:1px solid #bcbcbc;
            border-right:1px solid #bcbcbc;
            background-color:#fff;
            &.last{
                border-right:0;
            }
         }
         tbody {
             td{
                 padding:18px 30px 18px;
                 border-bottom:1px solid #bcbcbc;
                 border-right:1px solid #bcbcbc;
                 text-align:center;
                 &.last{
                     border-right:0;
                 }
                 &.text_left{
                     text-align:left;
                 }
                 span{
                     display:block;
                 }
             }
         }
    }

}
/**********************************************************************************
    공통 입력폼 가이드
**********************************************************************************/
.contents-filter{
    margin-bottom:23px;
    text-align:right;
    .filter-contents-wrap{
        position:relative;
        display:inline-block;
        width:370px;
        margin-right:10px;
        vertical-align:top;
        .filter-contents-wrap__text{
            padding-right:44px;
            border-bottom:1px solid #c5c5c5;
            input[type="text"]{
                box-sizing:border-box;
                width:100%;
                height:47px;
                padding-left:5px;
                border:0;
                background:none;
                font-size:18px;
                line-height:20px;
            }
            button{
                position:absolute;
                right:0;
                top:0;
                width:49px;
                height:49px;
            }
        }
    }
    .table-contents__select{
        display:inline-block;
        width:112px;
        height:47px;
        text-align:right;
        vertical-align:top;
        span{
            display:block;
            height:100%;
            border-bottom:1px solid #c5c5c5;
            select{
                box-sizing:border-box;
                width:100%;
                height:100%;
                padding:0 8px;
                border:0;
                background:none;
                font-size:18px;
                line-height:20px;
                color:#444;
                @include fontStyle("noto-regular", 100, normal);
            }
        }
    }
}
/**********************************************************************************
    공통 댓글 입력폼 가이드
**********************************************************************************/
.reply-wrap{
    padding:19px 15px 30px 15px;
    background-color:#fff;
    .reply-wrap__text-area{
        position:relative;
        margin-bottom:20px;
        padding-right:111px;
        div{
            box-sizing:border-box;
            height:89px;
            padding:10px 15px;
            border:1px solid #e6e9eb;
            background-color:#edeff1;
            textarea{
                width:100%;
                height:100%;
                border:0;
                background:none;
            }
        }
        button{
            position:absolute;
            right:0;
            top:0;
            width:100px;
            height:89px;
            background-color:$basicColor;
            color:#fff;
            font-size:18px;
            line-height:20px;
            @include fontStyle("noto-regular",100, italic);
        }
    }
    .reply-wrap__reply-area{
        margin-bottom:20px;
        border-bottom:1px solid #e5e5e5;
        .reply-wrap__reply-area__list{
            position:relative;
            padding:20px 120px 20px 150px;
            border-top:1px solid #e5e5e5;
            strong{
                position:absolute;
                left:30px;
                top:50%;
                margin-top:-10px;
            }
            span{
                display:block;
            }
            .reply-wrap__reply-area__list__edit-btn{
                position:absolute;
                right:0;
                top:50%;
                width:100px;
                overflow:hidden;
                margin-top:-13px;
                ul{
                    width:110%;
                    margin-left:-5%;
                    li{
                        float:left;
                        width:50%;
                        @include crossBrowsing("transform",skew(-12deg));
                        a{
                            display:block;
                            box-sizing:border-box;
                            height:26px;
                            padding-top:5px;
                            background-color:#c1c1c1;
                            color:#fff;
                            text-align:center;
                        }
                    }
                    &:after{
                        @include afterClear;
                    }
                }

            }
            &.no-reply{
                padding:20px 0;
                text-align:center;
            }
        }
    }
}
/**********************************************************************************
    공통 리스트 가이드
**********************************************************************************/
.list01 {
  margin-bottom: 50px;
  border-bottom: 1px solid #bcbcbc;
  > li {
    position: relative;
    padding: 12px 0 15px 48px;
    border-top: 1px solid #bcbcbc;
    font-size: 17px;
    line-height: 19px;
    color: #222;
    strong {
      position: absolute;
      left: 4px;
      top: 9px;
      width: 34px;
      height: 22px;
      padding-top: 5px;
      background: url("../images/bar/list_bar.png") 0 0 no-repeat;
      font-size: 15px;
      line-height: 17px;
      color: #fff;
      text-align: center;
    }
    ul {
      margin-top: 8px;
      li {
        padding: 0;
        margin-bottom: 3px;
        border-top: 0;
        font-weight: 300;
      }
    }
  }
}
/**********************************************************************************
    공통 레이아웃 스타일 Device : Tablet
**********************************************************************************/
@media all and (max-width:800px){

    /**********************************************************************************
        반응형 공통 스타일
    **********************************************************************************/
    .pc-version{
        display:none;
    }
    .mobile-version{
        display:block;
    }
    /**********************************************************************************
        공통 버튼 가이드
    **********************************************************************************/

    /* 버튼 사이즈 */
    @mixin MbtnXS{
        height:11px;
        padding:11px 34px 15px;
        font-size:14px;
        line-height:16px;
    }
    @mixin MbtnS{
        height:15px;
        padding:7px 15px 11px;
        font-size:14px;
        line-height:16px;
    }
    @mixin MbtnM{
        height:20px;
        padding:7px 64px 4px;
        font-size:14px;
        line-height:16px;
    }
    @mixin MbtnL{
        height:22px;
        padding:10px 30px 11px;
        font-size:18px;
        line-height:20px;
    }
    @mixin MbtnXL{
        height:10px;
        padding:9px 33px 11px;
        font-size:12px;
        line-height:14px;
    }
    /* 버튼 컴파일 */
    .btn{
        &-xs{
            @include MbtnXS;
            &.btn-line{
                height:13px;
            }
        }
        &-s{
            @include MbtnS;
            &.btn-line{
                height:14px;
                padding:6px 15px 11px;
            }
        }
        &-m{
            @include MbtnM;
            &.btn-line{
                height:20px;
                padding:7px 64px 4px;
            }
        }
        &-l{
            @include MbtnL;
            &.btn-line{
                height:23px;
                padding:8px 30px 11px;
            }

        }
        &-xl{
            @include MbtnXL;
            &.btn-line{
                min-width:auto;
                height:11px;
                padding:9px 65px 11px;
            }
        }
        &-color-type01{
            background-color: $btnColor01;
            &.disabled{

            }
            &.btn-line{
                border:2px solid $btnColor01;
                color:$btnColor01;
                background:none;
                @include crossBrowsing("transition", all .5s ease);
                &:hover{
                    background-color:$btnColor01;
                    color:#fff;
                }
            }
        }
        &-color-type02{
            color: $mainColor;
            background-color: $btnColor02;
            @include fontStyle(noto-medium, 100, normal);
            &.btn-line{
                border:2px solid $btnColor02;
                color:$btnColor02;
                background:none;
            }

        }
        &-color-type03{
            background-color: $btnColor03;
            @include fontStyle(noto-regular, 600, normal);
            &.btn-line{
                border:2px solid $btnColor03;
                color:$btnColor03;
                background:none;
            }
        }
        &-color-type04{
            background-color: $btnColor04;
            @include fontStyle(noto-regular, 600, normal);
            &.btn-line{
                border:2px solid $btnColor04;
                color:$btnColor04;
                background:none;
            }
        }
    }
    .icon{
        padding-left:16px;
        font-size:12px;
        line-height:14px;
        &.favorite{
            background-size:12px auto;
        }
    }
    /**********************************************************************************
        공통 테이블 가이드
    **********************************************************************************/
    .table-contents__title{
        margin-bottom:12px;
        background:none;
        span{
            padding:0;
            font-size:18px;
            line-height:20px;
        }
    }
    .contents-filter{
        margin-bottom:15px;
        .filter-contents-wrap{
            width:185px;
            .filter-contents-wrap__text {
                button{
                    width:37px;
                    height:37px;
                }
                input[type="text"]{
                    height:37px;
                    font-size:12px;
                    line-height:14px;
                }
            }
        }
        .table-contents__select{
            width:85px;
            height:37px;
            span{
                select{
                    font-size:13px;
                    line-height:15px;
                }
            }
        }
    }
    .table-contents__table-wrap{
        .table01{
            word-break:break-all;
             thead{
                 th{
                     padding:8px 5px;
                     font-size:12px;
                     line-height:14px;
                 }
             }
             tbody{
                 td{
                     padding:8px 5px;
                     font-size:12px;
                     line-height:14px;
                     .trophy-icon{
                         width:18px;
                         height:auto;
                     }
                     .btn-xl{
                         height:auto;
                         padding:9px 5px 11px;
                     }
                 }
             }
        }
        .table02{
            font-size:15px;
            line-height:17px;
            word-break:break-all;
            thead {
                th{
                    padding:10px 0;
                }
            }
            tbody {
                td {
                    padding:10px 5px;
                }
            }
        }

    }
    /**********************************************************************************
        공통 댓글 입력폼 가이드
    **********************************************************************************/
    .reply-wrap{
        .reply-wrap__text-area{
            padding-right:60px;
            div{
                padding:5px;
                height:50px;
                textarea{
                    font-size:12px;
                    line-height:14px;
                }
            }
            button{
                width:50px;
                height:50px;
                font-size:12px;
                line-height:14px;
            }
        }
        .reply-wrap__reply-area{
            .reply-wrap__reply-area__list{
                padding:10px;
                strong{
                    position:relative;
                    left:auto;
                    top:auto;
                    display:block;
                    margin-top:0;
                    margin-bottom:8px;
                }
                .reply-wrap__reply-area__list__edit-btn{
                    position:relative;
                    right:auto;
                    top:auto;
                    margin-top:12px;
                }
            }
        }
    }
    /**********************************************************************************
        공통 리스트 가이드
    **********************************************************************************/
    .list01 {
        margin-bottom: 20px;
        li {
            padding-left: 28px;
            font-size: 13px;
            line-height: 16px;
            strong {
                top: 12px;
                width: 20px;
                height: 15px;
                padding-top: 2px;
                background-size: 100% auto;
                font-size: 11px;
                line-height: 11px;
            }
        }
    }

}
