/*
*********************************************************************************
    layout.scss 작성
    작성일 : 2017.04.24
    작성자 : 김영훈
*********************************************************************************
*/
/**********************************************************************************
    공통 함수
**********************************************************************************/
@mixin crossBrowsing($parameter, $value) {
    @each $prefix in -webkit-, -moz-, -ms-, -o-, '' {
        #{$prefix}#{$parameter}: $value;
    }
}
@mixin afterClear {
    content:"";
    display:block;
    clear:both;
}
@mixin wraping{
    width:1040px;
    margin:0 auto;
}
@mixin outerWrap{
    width:1400px;
    margin:0 auto;
}

/**********************************************************************************
    레이아웃 스타일
**********************************************************************************/

/* 공통 wrap */
.wrap{
  @include wraping;
}
.outer_wrap{
  @include outerWrap;
}
/* header */
#header{
    height:180px;
    background-image:url("../images/bg/gnb_bg.png");
    background-position:0 0;
    background-repeat:repeat-x;
    .outer_wrap{
        position:relative;
        @include outerWrap;
        text-align:center;
        .h_logo{
            padding-top:34px;
            text-align:center;
        }
        .util{
            position:absolute;
            top:40px;
            right:50px;
            li{
                float:left;
                margin-right:2px;
                &:nth-child(last){
                    margin-right:0;
                }
            }
            &:after{
                @include afterClear;
            }
        }
    }
    .wrap{
        @include wraping;

    }
}

/* contents*/
.sub {
  padding-top: 80px;
  background-color:#f6f6f6;
  .wrap {
    .tit01 {
        font-size:46px;
        line-height:48px;
        margin-bottom:60px;
    }
  }
}

/* paging */
.paging {
  text-align:center;
    div {
      display:inline-block;
    a {
      display:inline-block;
      float:left;
      margin-right:5px;
    }
    ul {
      float:left;
      &:after{
        @include afterClear;
      }
      li {
        float:left;
        &.first a{
          margin-left:12px;
        }
        &.last a {
          margin-right:17px;
        }
        a {
          width:31px;
          border:1px solid #e2e2e2;
          background-color:#fff;
          padding:8px 0 7px;
        }
      }
    }
  }
}
