/*
*********************************************************************************
    layout.scss 작성
    작성일 : 2017.04.24
    작성자 : 김영훈
*********************************************************************************
*/
/* 공통 wrap */
.wrap{
    width:1040px;
    margin:0 auto;
}
.outer_wrap{
    width:1400px;
    margin:0 auto;
}

/* header */
#header{
    height:180px;
    background-image:url("../images/bg/gnb_bg.png");
    background-position:0 0;
    background-repeat:repeat-x;
    .wrap{
    }
}
