/**********************************************************************************
                            font 에 대한 기본 설정
**********************************************************************************/

$fontFamily: "noto-regular", dotum,"돋움";
$fontColor: #000;
@mixin basicFont{
    font: normal 400 14px/16px $fontFamily;
    color: $fontColor;
}


/**********************************************************************************
                            공통 함수에 대한 기본 설정
**********************************************************************************/


/* 공통 컬러 함수 선언 */
$mainColor: #00afff;


/*
*********************************************************************************
    news.scss 작성
    작성일 : 2017.04.24
    작성자 : 정진배
*********************************************************************************
*/

.news{
  &__contents{
    overflow:hidden;
    &__leftBox{
      float:left;
      width:calc(50% - 13px);
      .thumbnail_list{
        margin-bottom:35px;
        li {
          position:relative;
          margin-bottom:20px;
          border-top:1px solid $mainColor;
          border-bottom:1px solid #e2e2e2;
          background-color:#fff;
          &:last-child{
            margin-bottom:0;
          }
          a{
            display:block;
            overflow:hidden;
            padding:30px 19px 30px 14px;
            .thumbnail_img{
              position:relative;
              float:left;
            }
            dl {
              position:absolute;
              overflow:hidden;
              padding-left:203px;
              dt{
                margin-bottom:22px;
                font-size:18px;
                line-height:20px;
                letter-spacing:-1px;
                font-weight:bold;
                font-style:italic;
                color:#444;
                font-family:'noto-bold';
                span {
                  display:block;
                }
              }
              dd{
                margin-bottom:46px;
                color:#555;
                font-style:italic;
                font-weight:600;
                font-family:'noto-regular';
                span{
                  display:block;
                }
                &.date{
                  float:left;
                  margin-bottom:0;
                  margin-right:15px;
                  color:#222;
                  font-style:normal;
                }
                &.hits{
                  margin-bottom:0;
                  float:left;
                  color:#222;
                  span{
                    display:inline-block;
                  }
                }
              }
              .arrow{
                position:absolute;
                bottom:0;
                right:0;
                width:10px;
                height:22px;
                text-align:right;
              }
            }
          }
        }
      }
    }
    &__rightBox{
      float:right;
      width:calc(50% - 13px);
      margin-left:25px;
      &_wrap{
        padding:60px 35px 0 35px;
        .tit{
          text-align:center;
          span{
            display:block;
          }
        }
      }
    }
  }
}
